
body {
	font-family: sans-serif;
	padding: 0px;
	margin: 0px;
}
#thebackground {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -1;
}
.image {
 	position: absolute;
	overflow: hidden;
	top: 0px
	left: 0px;
	height: 100%;
	width: 100%;
	margin: 0px;
}
.theimg {
	position: absolute;
	width: 100%;	
	z-index: -1;
}
.thingtohide {
	display: none;
}
#blurimage {
	position: fixed;
	margin-top: 130px;
}
#blur {
	position: relative;
	top: -130px;
	filter: blur(9px);
	-webkit-filter: blur(9px);
}
#text {
	position: absolute;
	color: white;
	top: 130px;
	width: 100%;
	overflow: scroll;
	height: 100%;
	position: fixed;
}
#container {
	
}
.contained {
	padding: 50px;
}
#one {
	background-color: rgba(0, 139, 139, .5);
	text-align: center;
	padding: 200px 0px;
}
#one h2 {
	margin: 0px 0px 10px 0px;
	font-weight: bolder;
	font-size: 60px;
}
#one hr {
	border: 0;
	height: 0;
	border-top: 2px solid white;
}
#AmericanDream {
	margin: 20px 0px 20px 0px;
	font-size: 50px;
}
#two {
	background-color: rgba(139, 0, 0, .5);
	padding: 0px;
	padding-top: 200px;
	padding-bottom: 200px;
}
#two p {
	text-align: center;
	font-size: 30px;
	margin: 0px;
	margin-bottom: 10px;
}
#two hr {
	border: 0;
	height: 0;
	border-top: 2px solid white;
	margin-top: 0px;
}
#albumholder {
	width: 1223px;
	margin: 20px auto 20px auto;
}
@media all and (max-width: 1240px) {
	#albumholder {
		width: 610px;
		
	}
}
.album {
	height: 200px;
	width: 200px;
	display: inline-block;
	background-size: cover; 
}
#albumholder div:first-child {
	background-image: url('IMAGES/ALBUM/ULTRAVIOLENCE.png');
}
#albumholder div:nth-child(2) {
	background-image: url('IMAGES/ALBUM/ALWAYS.jpg');
}
#albumholder div:nth-child(3) {
	background-image: url('IMAGES/ALBUM/STONE.jpg');
}
#albumholder div:nth-child(4) {
	background-image: url('IMAGES/ALBUM/BLUE.jpg');
}
#albumholder div:nth-child(5) {
	background-image: url('IMAGES/ALBUM/WAVE.png');
}
#albumholder div:nth-child(6) {
	background-image: url('IMAGES/ALBUM/YELLOW.jpg');
}
#three {
	background-color: rgba(0, 206, 209, .5);
	height: 200px;
	text-align: center;
}

@media screen and (max-aspect-ratio: 3/2) { 
	.image {
	position: absolute;
	top: 0px
	left: 0px;
	height: 130%;
	width: 100%;
	margin:	0px;
	overflow: hidden;
}
	.theimg {
		height: 100%;
		width: auto;
	}
}
#title {
	position: fixed;
	width: 552px;
	height: 95px;
	left: 50%;
	top: 15px;
	margin-left: -276px;
	border: 3px solid white;
	text-align: center;
}
.title {
	margin-top: -2px; 
	color: white;
	font-size: 70px;
	display: inline-block;
	vertical-align: middle;

}
#tracks {
	font-family: serif;
	font-size: 76px;
	margin-left: 7px;
}
#wax {
	margin-right: 5px;
}
#backslash {
	font-size: 90px;
	color: white;
}
#controlsections {
	position: fixed;
	top: 0px;
	left: 0px;
	margin: 42px 0px 0px -5px;
	padding-right: 5px;
	box-shadow: inset 0 0 10px rgb(40, 40, 40);
}
.controls {
	padding: 5px 15px 5px 20px;
	font-size: 30px;
	color: white;
	text-align: center;
	display: inline-block;
}
.controls:hover {
	color: rgb(32, 178, 170);
}
.controls.other {
	display: none;
}
#home {
	display: none;
}
#home.show {
	display: inline-block;
}
#thex {
	position: relative;
	bottom: 2px;
	padding-bottom: 2px;
	display: inline-block;
}
#thex.rotate {
	transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform:rotate(45deg);
    font-size: 33px;
    margin-bottom: -3px;
    margin-right: -1px;
}